@font-face {
  font-family: "Windows XP Tahoma";
  src: local("Windows XP Tahoma"),
    url(./fonts/Windows-XP-Tahoma.ttf) format("truetype");
}

@font-face {
  font-family: "Trebuchet";
  src: local("Trebuchet"), url(./fonts/Trebuchet-MS.ttf) format("truetype");
}
