:root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #777777;

    --taskbar-height: 30px;
    --taskbar-button-width: 150px;
    --start-button-width: 97px;
    --system-tray-width: 125px;
    --window-title-bar-height: 25px;
}
