:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777777;

  --header-height: 30px;
  --taskbar-button-width: 150px;
  --start-button-width: 97px;
  --system-tray-width: 125px;
}
