.drop-down {
    font-size: 11px;
    height: 20px;
    width: fit-content;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:active {
        background-color: #1660e8;
        color: #fff;
    }

    &__label {
        margin: auto;
        padding: 0 7px;
        font-size: 11px;
    }
}
