.window {
  background: green;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  border-color: #0072ef #01279e #01279e #0236d8;
  background: linear-gradient(
      to right,
      #034fe1,
      #1682f2 1px,
      #006ee4 2px,
      rgba(0, 0, 0, 0) 3px
    ),
    linear-gradient(
      to left,
      #0034b0,
      #0056e1 1px,
      #0064f4 2px,
      rgba(0, 0, 0, 0) 3px
    ),
    linear-gradient(
      to top,
      #0034b1,
      #0056e1 1px,
      #0064f4 2px,
      rgba(0, 0, 0, 0) 3px
    );

  &_wrapper {
    position: absolute;
  }

  &__title-bar {
    background: #006fea;
    line-height: 25px;
    height: 25px;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: move;
    border-radius: 3px 3px 0 0;
    background-image: linear-gradient(
        to right,
        #0050db,
        rgba(255, 255, 255, 0.1) 4px,
        rgba(255, 255, 255, 0) 200px
      ),
      linear-gradient(
        to left,
        #0034b0,
        #0056e1 1px,
        #0064f4 2px,
        rgba(0, 0, 0, 0) 3px
      ),
      linear-gradient(
        to bottom,
        #4aa9ff,
        #33a4ff 1px,
        #008aff 2px,
        #007ef4 3px,
        #0075f0 4px,
        rgba(0, 0, 0, 0) 5px
      ),
      linear-gradient(
        to top,
        #005dd9,
        #0067e9 1px,
        #007afb 2px,
        #0081fb 3px,
        rgba(0, 0, 0, 0) 4px
      );
    color: white;
    font-weight: normal;
    font-size: 14px;
    padding-left: 8px;
    text-shadow: 1px 1px 0 #0a2a95;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__controls {
      height: auto;
      padding-right: 4px;
      display: flex;
      gap: 3px;
    }
  }

  &__content {
    flex: 1;
    margin: 0;
    border: 1px solid #91adc6;
    margin: 0 2px 2px;
  }
}
